{% load staticfiles %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/register.css' %}">

<!DOCTYPE html>
<html>
    <head>
  <title>Cibus</title>
  
  
 
  </head>

    <body>
        <h1><a href="">Dishes Available</a></h1>

        <table class="table">
            <tr>
                <th>Dish Name</th>
                <th>Price</th>
            </tr>
            {% for r in cat_dishes %}
            <tr>
              <td>
                {% url 'restdishselect' username category r.name as the_url %}
                <a href="{{the_url}}"> {{r.name}} </a></td>
              <td> {{ r.price}}</td>
            </tr> 
            {% endfor %}
        </table>

    <p> You may also want to try:</p>
    <table class="table">
            <tr>
                <th>Dish Name</th>
                <th>Price</th>
            </tr>
            {% for r in non_cat_dishes %}
            <tr>
              <td>
                {% url 'restdishselect' username r.category r.name as the_url %}
                <a href="{{the_url}}"> {{r.name}} </a></td>
              <td> {{ r.price}}</td>
            </tr> 
            {% endfor %}
        </table>
       <!-- <form action="{% url 'cart' %}" method="POST">
           <input id="submit" type="button" value="Click" />
       </form> -->
       {% url 'cart' as t_url %}
        <a href="{{t_url}}" class="btn btn-default"> Cart </a>
    </body>
</html>