<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Bhukhad</title>
    </head>

    <body>
        <h1>Welcome to Bhukhad</h1>

        <!-- <form id="login_form" method="post" action="/polls/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form> -->
        <a href="/e/ulogin/">User Login</a>
        <a href="/e/uregister/">User Register</a>
        <a href="/e/rlogin/">Restaurant Login</a>
        <a href="/e/rregister/">Restaurant Register</a>

    </body>
</html>

